  <div> 
    {{!-- Вынужден был добавить инлайн-стили, иначе вылезают косяки с разметкой --}}
    <a class="gallery__item" href="{{original}}" style="display: block; height: 100%">
      <img
        class="gallery__image"
        src="{{preview}}"
        alt="{{description}}"
      />
    </a>
  </div>